<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a>{{"footer.tc" | translate}}</a></p>
    <p>&copy; {{"footer.year" | translate}} - {{"footer.d&d_by" | translate}} &middot;
        <a target="_bank" href="http://gitlab.com/akejupaul7">
            Akeju Paul
        </a>
    </p>
</footer>
