<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <h1 class="intro">{{'proj_name' | translate}}</h1>

<!-- <h1>Another way: <span translate>intro</span></h1> -->

<h3 class="short_desc"><span translate>project_short_desc</span></h3>


</div>
